@page
@model jncc_web_api.Pages.Filters.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Filter</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filter.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filter.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filter.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filter.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filter.MetadataUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filter.MetadataUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filter.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filter.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filter.Attribute)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filter.Attribute)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filter.LookupCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filter.LookupCategory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filter.IsComplex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filter.IsComplex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filter.Layer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filter.Layer.LayerId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Filter.FilterId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
