@page
@model jncc_web_api.Pages.ExternalWmsUrls.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExternalWmsUrl[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExternalWmsUrl[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExternalWmsUrl[0].Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExternalWmsUrl[0].Map)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ExternalWmsUrl) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Map.MapInstanceId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ExternalWmsUrlId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ExternalWmsUrlId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ExternalWmsUrlId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
