@page
@model jncc_web_api.Pages.Gazetteers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Gazetteer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gazetteer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gazetteer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gazetteer.Longitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gazetteer.Longitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gazetteer.Latitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gazetteer.Latitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gazetteer.Zoom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gazetteer.Zoom)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Gazetteer.GazetteerId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
