@page
@model jncc_web_api.Pages.Lookups.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lookup</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lookup.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lookup.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lookup.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lookup.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lookup.LookupCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lookup.LookupCategory)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Lookup.LookupId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
