@page
@model JNCCMapConfigEditor.Pages.MapConfigItem.IndexModel

@{
    ViewData["Title"] = "Map Configuration Data";
}

<h1>Map Configuration Data</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MapConfigItem[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MapConfigItem[0].Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MapConfigItem[0].Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MapConfigItem[0].UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MapConfigItem[0].MapItem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MapConfigItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MapItem.MapId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MapConfigId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MapConfigId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MapConfigId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
