@page
@model JNCCMapConfigEditor.Pages.MapLayerItem.IndexModel

@{
    ViewData["Title"] = "Map Layers";
}

<h1>Map Layers</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MapLayerItem[0].LayerOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MapLayerItem[0].LayerVisible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MapLayerItem[0].Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MapLayerItem[0].UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MapLayerItem[0].MapItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MapLayerItem[0].LayerItem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MapLayerItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LayerOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LayerVisible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MapItem.MapId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LayerItem.LayerId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MapLayerId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MapLayerId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MapLayerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
