@page
@model JNCCMapConfigEditor.Pages.MapItem.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MapItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MapItem.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MapItem.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MapItem.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MapItem.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MapItem.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MapItem.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MapItem.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MapItem.UpdatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MapItem.MapId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
