@page
@model JNCCMapConfigEditor.Pages.MapItem.IndexModel

@{
    ViewData["Title"] = "Map Index";
}

<h1>Map Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MapItem[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MapItem[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MapItem[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MapItem[0].UpdatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MapItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MapId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MapId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MapId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
