@page
@model jncc_web_api.Pages.Layers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Layer[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Layer[0].MetadataDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Layer[0].MetadataUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Layer[0].DownloadURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Layer[0].SubLayerGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Layer[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Layer[0].Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Layer[0].LayerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Layer[0].LegendLayerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Layer[0].LayerOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Layer[0].LayerVisible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Layer[0].LayerOpacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Layer[0].LayerCentreLon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Layer[0].LayerCentreLat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Layer[0].LayerZoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Layer[0].LayerGroup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Layer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetadataDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetadataUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownloadURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubLayerGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LegendLayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LayerOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LayerVisible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LayerOpacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LayerCentreLon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LayerCentreLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LayerZoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LayerGroup.LayerGroupId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.LayerId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.LayerId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.LayerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
