@page
@model jncc_web_api.Pages.MapInstances.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MapInstance</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MapInstance.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MapInstance.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MapInstance.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MapInstance.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MapInstance.MapCentre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MapInstance.MapCentre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MapInstance.MapZoom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MapInstance.MapZoom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MapInstance.BaseLayerList)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MapInstance.BaseLayerList)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MapInstance.VisibleBaseLayer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MapInstance.VisibleBaseLayer)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MapInstance.MapInstanceId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
