@page
@model jncc_web_api.Pages.MapInstances.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MapInstance</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MapInstance.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MapInstance.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MapInstance.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MapInstance.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MapInstance.MapCentreLon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MapInstance.MapCentreLon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MapInstance.MapCentreLat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MapInstance.MapCentreLat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MapInstance.MapZoom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MapInstance.MapZoom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MapInstance.BaseLayerList)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MapInstance.BaseLayerList)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MapInstance.VisibleBaseLayer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MapInstance.VisibleBaseLayer)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MapInstance.MapInstanceId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
